<!DOCTYPE html>
<html>
<head>

    <title> ACCOUNT PAGE </title>

    <script src="../Scripts/account.js"> </script>
    <script src="../Scripts/update.js"> </script>

    <link rel="stylesheet" href="../View/styles.css">

</head>

<body id="body2">
    

<form id="form-a"> 

    <h1 id="h1-a"> <strong> MY ACCOUNT </strong> </h1>


    <p id="usname"> <strong> USERNAME </strong> </p> 
    <div> <input id="usernameinfo"> </div>

    <p id="finame"> <strong> FIRSTNAME </strong></p>
    <div> <input id="firstnameinfo"> </div>
    
    <p id="laname"> <strong> LASTNAME </strong> </p>
    <div> <input id="lastnameinfo"> </div>
    
    <p id=agee> <strong> BIRTHDATE </strong> </p>
    <div> <input id="ageinfo"> </div>

    <p id="pass"> <strong> PASSWORD </strong></p>
    <div> <input id="passinfo"> </div>
    
    <br>
    <form>
        <input type="button" id="matchesbutton" value="FIND MATCHES" onclick="document.location='findmatch.html'">
        <br>
        <br>
        <input type="button" id="updatebutton" value="UPDATE PROFILE">
        <br>
        <br>
        <input type="button" id="logoutUserbutton" value="LOG OUT">
        <br>
        <br>
        <input type="button" id="deleteUserbutton" value="DELETE PROFILE">
    </form>

</form>

</body>

</html>