<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf8">
    <title>SignIn </title>

    
    <link rel="stylesheet" href="../View/styles.css">
 
</head>

<body id="body"> 
    
    <form id="form">

    
      <h1 id="h1-l"> Login</h1>

      <p id="uname"> Username: </p>
        <input type="text" id="lusername">
      </div>

    <br> 
      <p id="pname"> Password: </p>
        <input type="password" id="lpassword">
      <br> 
      

    <br>
    <button type="button" id="form-button" onclick="getInfo()">LOG IN</button>
    <br>
    <br>
    <button type="button" id="signUp-button" onclick="document.location='signUp.html'"> SIGN UP HERE </button>
    

  </form>

  <script src="../Scripts/login.js"> </script>

</body>

</html>

