<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf8">
    <title> Sign Up </title>
    

    <!--Header:-->

</head>


<body>

      <script src="/Scripts/create.js"> </script> 

      <div class="login-box"> </div>
        <h1>Sign Up</h1>
  
        <div class="textbox">
          <p>First Name:</p>
          <input type="text" id="firstname">
        </div>
      
        <div class="textbox">
          <p>Last Name:</p>
          <input type="text" id="lastname">
        </div>

        <div class="textbox">
          <p>Birthdate</p>
          <input type="date" id="birthday">
        </div>
  
        <div class="textbox">
          <p>Email:</p>
          <input type="text" id="email">
        </div>

        <br>
        <p> Gender </p>
        <div class="gender">
          <input type="Radio" value="Male" id="gender-M"> Male
          <input type="Radio" value="Female" id="gender-F"> Female
        </div>

        <br>
        <p> Interesse</p>
        <div class="interest"> 
          <input type="Radio" value="Male" id="interest-M"> Male
          <input type="Radio" value="Female" id="interest-F"> Female
          <input type="Radio" value="Both" id="interest-B"> Both
        </div>

        <div class="textbox">
          <p>Username:</p>
          <input type="username" id="username">
        </div>
  
        <div class="textbox">
          <p>Password:</p>
          <input type="password" id="password">
        </div>
        <!--oninput="validatePasswordLenght(); validatePasswordNumber(); validatePasswordUpperCase();">-->
        <!--<div id = "feedback">
          <div id = "passwordLenghtFeedback">
              <i class="fas fa-times"></i> <span>Password must be longer than 8 characters</span>
          </div>
           <div id = "passwordNumberFeedback">
               <i class="fas fa-times"></i> <span>Password must contain at least one number</span>
          </div>
          <div id = "passwordUpperCaseFeedback">
               <i class="fas fa-times"> </i> <span>Password must contain at one upper case letter</span>
          </div>
        </div>-->

        <br>

      <button type="button" type="submit" value="submit" id="submitButton"> SIGN UP </button> 

      <button type="button" type="submit" value="submit" id="signIn" onclick="document.location='sign.html'" onclick=""> BACK TO LOGIN </button>

    </div>

</body>

</html>