<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn </title>

    <!--Header:-->
 
</head>

<body>
    
    <form>

    
      <h1>Login</h1>

      <p> Username: </p>
        <input type="text" id="username">
      </div>

    <br> 
      <p> Password: </p>
        <input type="password" id="password">
      <br> 
      

    <br>
    <button type="button" onclick="getInfo()">LOG IN</button>
    <input type="button" value="SIGN UP" id="signUp" onclick="document.location='signUp.html'">
    

  </form>

  <script src="../Scripts/login.js"> </script>

</body>

</html>

