<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn </title>
    <link rel="stylesheet" type="text/css" href="style.css"/>

    <!--Header:-->
 
</head>

<body>

    <script src="Index.js"> </script>
    

    <div class="login-box">
      <h1>Login</h1>
      <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Username">
      </div>

    <br> 
      <div class="textbox">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password">
      </div>

    <br>
      <input type="button" class="btn" value="LOG IN" id="login" onclick="document.location='account.html'">
      <input type="button" value="SIGN UP" id="signUp" onclick="document.location='signUp.html'">
    </div>

</body>

</html>

