<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf8">
    <title> Sign Up </title>


    <link rel="stylesheet" href="../View/styles.css">

</head>


<body id="body1">

      <script src="/Scripts/create.js"> </script> 

      <form id="form-s"> 
        <h1 id="h1-s"> Sign Up</h1>
  
        <div class="textbox">
          <p id="first-s"> First Name:</p>
          <input type="text" id="firstname">
        </div>
      
        <div class="textbox">
          <p id="last-s"> Last Name: </p>
          <input type="text" id="lastname">
        </div>

        <div class="textbox">
          <p id="birth-s"> Birthdate</p>
          <input type="date" id="birthday">
        </div>
  
        <div class="textbox">
          <p id="email-s"> Email:</p>
          <input type="text" id="email">
        </div>

        
        <p id="gender-s"> Gender </p>
        <div class="gender" id="radio2">
          <input type="Radio" value="Male" name="gender"> Male
          <input type="Radio" value="Female" name="gender"> Female
        </div>

        
        <p id="int-s"> Interest </p>
        <div class="interest" id="radio2"> 
          <input type="Radio" value="Male" name="interest"> Male
          <input type="Radio" value="Female" name="interest"> Female
          <input type="Radio" value="Both" name="interest"> Both
        </div>

        <div class="textbox">
          <p id="user-s"> Username:</p>
          <input type="username" id="username">
        </div>
  
        <div class="textbox">
          <p id="pass-s"> Password:</p>
          <input type="password" id="password">
        </div>
        
        <!--oninput="validatePasswordLenght(); validatePasswordNumber(); validatePasswordUpperCase();">-->
        <!--<div id = "feedback">
          <div id = "passwordLenghtFeedback">
              <i class="fas fa-times"></i> <span>Password must be longer than 8 characters</span>
          </div>
           <div id = "passwordNumberFeedback">
               <i class="fas fa-times"></i> <span>Password must contain at least one number</span>
          </div>
          <div id = "passwordUpperCaseFeedback">
               <i class="fas fa-times"> </i> <span>Password must contain at one upper case letter</span>
          </div>
        </div>-->

        <br>

      <button type="button" type="submit" value="submit" id="submitButton" onclick="document.location='sign.html'"> SIGN UP </button> 
      <br>
      <br>
      <button type="button" type="submit" value="submit" id="signIn" onclick="document.location='sign.html'" onclick=""> BACK TO LOGIN </button>

    </div>

  </form>

</body>

</html>