<!DOCTYPE html>
<html>
<head>
<title>UPDATE</title>
</head>
<body>
    <script src="../Scripts/update.js"> </script>

<h1> UPDATE YOUR PROFILE </h1>

<p> New Username </p>
<input type="text" id="newusername">

<p> Change Password </p>
<input type="text" id="changepassword">

<p> Confirm Password </p>
<input type="text" id="confirmpassword">

<br>
<br>
<input type="button" id="myaccount" value="MY ACCOUNT" onclick="document.location='account.html'">
<input type="button" id="updatebutton" value="UPDATE PROFILE">

</body>
</html>